<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #393c4f;">
    <div style="background-color: #6d6c7e;">
        <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 text text-white">¡Compartelo en tus redes sociales!</h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic">
                        <!-- Facebook -->
                        <a href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                            class="fab fa-facebook-f white-text mr-4" target="_blank"></a>
                    </a>
                    <a class="tw-ic">
                        <!-- Twitter -->
                        <a href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                            class="fab fa-twitter white-text mr-4" target="_blank"></a>
                    </a>
                    <a class="gplus-ic">
                        <!-- Google +-->
                        <a href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                            class="fab fa-google-plus-g white-text mr-4" target="_blank"></a>
                    </a>
                    <a class="li-ic">
                        <!--Linkedin -->
                        <a href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                            class="fab fa-linkedin-in white-text mr-4" target="_blank"></a>
                    </a>
                    <a class="ins-ic">
                        <!--Instagram-->
                        <a href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                            class="fab fa-instagram white-text" target="_blank"></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4 text-center">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold text-white">MAG's Company</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;  background: #ffffff;">
                <p>
                    MAG (My Amazing Games) es pensada como una red social en cual puedas agregar y compartir tus juegos favoritos, para que ninguno de tus amigos se pierda de tus videojuegos que más juegas. 
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold text-white">Generos</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; background: #ffffff;">
                <p>
                    <a class="dark-grey-text" href="#!">Shooter</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Aventura</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Cooperativo</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Musical</a>
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold text-white">Enlaces útiles</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; background: #ffffff;">
                <p>
                    <a class="dark-grey-text" href="/signin">Tu Cuenta</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="/signup">Registrarse</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="/welcome">Principal</a>
                </p>
                <p>
                    <a class="dark-grey-text"
                        href="https://i.pinimg.com/474x/0e/0f/05/0e0f056f001cb9e97a72828cd2ffbf2a.jpg"
                        class="dark-grey-text" target="_blank">Ayuda</a>
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold text-white">Contacto</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; background: #ffffff;">
                <p>
                    <i class="fas fa-home mr-3"></i> Lima, SMP.
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> grupo_4_ihc@gmail.com
                </p>
                <p>
                    <i class="fas fa-mobile-alt mr-3"></i> 961 809 487
                </p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
        <a class="dark-grey-text" href="/"> Grupo 4</a>
    </div>
</footer>