<div class="container-fluid">
  <app-navigation></app-navigation>
</div>

<ng-container *ngIf="games.length==0">
  <div class="container card text-center mt-4">
    <h3 class="text-white mt-5 mx-5">No hay juegos :(</h3>
    <p class="m-4">Agrega un nuevo juego para comenzar :D</p>
  </div>
  <div class="container mt-2 mb-4">
    <a class="container btn btn-secondary" routerLink="/games/add" routerLinkActive="active"><i
        class="fas fa-plus-circle"></i> Nuevo Juego</a>
  </div>
</ng-container>
<ng-container *ngIf="games.length>0">
  <div class="container-fluid row mb-3">
    <div class="col-2 pt-4">
      <div class="container-fluid my-4">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"><i class="far fa-user fa-2x mr-3"></i>
          Perfil</a>
      </div>
      <div>
        <hr size="2px" width="90%" noshade="noshade" align="right">
      </div>
      <div class="container-fluid my-4">
        <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i
            class="fas fa-plus-circle fa-2x mr-3"></i>
          Nuevo Juego</a>
      </div>
      <div class="container-fluid my-4">
        <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i
            class="fas fa-user-friends fa-2x mr-3"></i>
          Amigos</a>
      </div>
      <div class="container-fluid my-4">
        <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i
            class="far fa-calendar-alt fa-2x mr-3"></i>
          Eventos</a>
      </div>
      <div class="container-fluid my-4">
        <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i class="far fa-bookmark fa-2x mr-3"></i>
          Guardado</a>
      </div>
      <div>
        <hr size="2px" width="90%" noshade="noshade" align="right">
      </div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" id="viewport-posts" class="viewport col-7">
      <div class=" ">
        <app-post-bar></app-post-bar>
        <div class="col-md-12" *ngFor="let post of posts">
          <div class="card mb-4 px-4 pt-4" style="border-radius: 20px;">
            <div class="row ">
              <div class="col-8">
                <div class="text-white">
                  <div *ngFor="let usuario of usuarios">
                    <ng-container *ngIf="usuario.int_usercodigo==post.int_usercodigo">
                      <h5>{{usuario.vch_usernombre}} {{usuario.vch_userpaterno}} {{usuario.vch_usermaterno}}</h5>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="text-right">
                  <small> - {{post.post_created_at}}</small>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="text-white d-flex justify-content-between aling-items-center">
                <p>{{post.vch_postdescripcion}}</p>
              </div>
              <ng-container *ngIf="post.vch_postimagen!=null">
                <div class="card text-center mt-2">
                  <div class="card-header bg-dark text-white">
                    <div *ngFor="let game of games">
                      <ng-container *ngIf="game.id==post.id">
                        <h3>{{game.title}}</h3>
                      </ng-container>
                    </div>
                  </div>
                  <img [src]="post.vch_postimagen" class="card-img-top">
                </div>
              </ng-container>
              <div class="mt-2">
                <div class="row ">
                  <div class="col-4">
                    <button class="btn btn-secondary btn-block" style="border-radius: 20px;">
                      <i class="far fa-thumbs-up mr-2"></i> Me gusta
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-secondary btn-block" style="border-radius: 20px;">
                      <i class="far fa-comment-alt mr-2"></i> Comentar
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-secondary btn-block" style="border-radius: 20px;">
                      <i class="far fa-share-square mr-2"></i> Compartir
                    </button>
                  </div>
                </div>
                <div>
                  <hr size="2px" width="100%" noshade="noshade" style="margin: 8px; padding: 0px;" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" style="background: #7e7e7e; border-radius: 25px;"
                    placeholder="Escribe un comentario..." autofocus>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12" *ngFor="let game of games">
          <div class="card mb-4 p-4" style="border-radius: 20px;">
            <div class="row mb-3">
              <div class="col-4">
                <div class="card text-center mt-2">
                  <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
                    <h3>{{game.title}}</h3>
                    <button class="btn btn-danger" (click)="deleteGame(game.id)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                  <img [src]="game.image" class="card-img-top">
                </div>
              </div>
              <div class="col-4">
                <div class="card-body">
                  <p>{{game.description}}</p>
                  <p>{{game.created_at}}</p>
                  <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">Editar
                    Juego</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </cdk-virtual-scroll-viewport>
    <div class="col-3 pt-4">
      <div class="container-fluid my-4">
        <h6><i class="fas fa-users fa-lg mr-3"></i> Amigos que quizas conozcas</h6>
      </div>
      <div>
        <hr size="2px" width="90%" noshade="noshade" align="right">
      </div>
      <cdk-virtual-scroll-viewport itemSize="50" id="viewport-users" class="viewport">
        <div class="col-md-12" *ngFor="let usuario of usuarios; first as isFirst">
          <div class="card mb-2 " style="border-radius: 20px;">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active"><i
                class="far fa-user-circle fa-lg mr-1"></i>
              {{usuario.vch_usernombre}}</a>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
      <div>
        <hr size="2px" width="90%" noshade="noshade" align="right">
      </div>
    </div>
  </div>
</ng-container>
