<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" *ngIf="user.boo_logsesion==true" routerLink="/games">My Amazing Games <i
          class="fas fa-gamepad  ml-3"></i></a>
      <a class="navbar-brand" *ngIf="user.boo_logsesion==false" routerLink="/welcome">My Amazing Games <i
          class="fas fa-gamepad  ml-3"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="user.boo_logsesion==false" routerLink="/welcome" routerLinkActive="active"><i
                class="fas fa-door-open mx-2"></i> Bienvenido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="user.boo_logsesion==true" routerLink="/games" routerLinkActive="active"><i
                class="fas fa-home mx-2"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="user.boo_logsesion==false" routerLink="/signin" routerLinkActive="active"><i
                class="fas fa-sign-in-alt mx-2"></i> Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="user.boo_logsesion==true" routerLink="/profile" routerLinkActive="active"><i
                class="far fa-user mx-2"></i> Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="user.boo_logsesion==false" routerLink="/signup" routerLinkActive="active"><i
                class="fas fa-user-plus mx-2"></i> Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" *ngIf="user.boo_logsesion==true" routerLink="/welcome"
              routerLinkActive="active"><i class="fas fa-sign-out-alt mx-2"></i> Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
